@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Carousel Dot Styling */
.owl-dots {
  display: flex !important; /* Ensure flex display is applied */
  justify-content: center;
  margin-top: 10px;
  gap: 5px; /* Space between dots */
}

.owl-dots button {
  height: 10px;
  width: 10px;
  background-color: rgb(253 230 138); /* Default dot color (amber-200) */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.owl-dots .active {
  background-color: rgb(251 191 36); /* Active dot color (amber-400) */
}

/* Custom Dot Styling */
.custom-dots {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
  gap: 5px; /* Space between dots */
}

.custom-dot {
  height: 7px;
  width: 7px;
  background-color: rgb(253 230 138); /* bg-amber-200 */
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.active {
  background-color: rgb(251 191 36); /* bg-amber-400 */
}

/* Navigation Arrows */
.owl-prev,
.owl-next {
  display: none !important;
}

/* Discount Card Styling */
.discount-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.discount-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.discount-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.discount-link:hover {
  background-color: #218838;
}

/* Owl Carousel Item Styling */
.owl-carousel .item {
  text-align: center;
}

.owl-carousel .item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Brand Affiliation Carousel Styling */
.brand-affiliation .item {
  text-align: center;
}

.brand-affiliation .item img {
  width: 80%; /* Adjust size to fit within the carousel */
  height: auto;
  margin: 0 auto;
  border-radius: 8px; /* Optional: for rounded logos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.brand-affiliation .owl-dots {
  display: none !important; /* Hide dots for brand affiliation */
}

/* Outline Color Styling */
.outline-color {
  color: #115E59;
}
